.th{
  background-color: #f5f5dc;
}
.th img{
  height:100px;
  width:100px;
  object-fit: contain;
  margin-top: 10%;
  margin-left: 35%;
}
body{
  background-color:#f5f5dc;
}
.th h1{
  text-align: center;
  color: aliceblue;
  font-size:xx-large;
}
 h2{
  text-align: center;
  color:azure;
  font-size:medium;
  
}
.th p{
  color:azure;
  margin-right: auto;
  margin-left: 30px;
  margin-right: 30px;
}

.carousel-indicators button {
    height: 10px !important;
    width: 10px !important;
    margin: 0 10px !important;
    border-radius: 100%;
    background-color:aliceblue;
}
.th1 img{
  margin-left: 5px;
  width:85px;
  height:85px;
  
}

.i1 img{
  object-fit: cover;
  height:200px;
  width:250px;
  border-radius: 20px;
  background-color: pink;
}
.cont {
 display: grid;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
}
.cont .ti1,.t1{
  color:pink;
}
.t3,.cont .ti3{
  color:plum;
}
.t2,.cont .ti2{
  color:greenyellow;
}
 .co button{
  height:150px;
  width:200px;
  background-color: pink;
  margin-left: 50px;

}
.co1 button {
  height: 150px;
  width:200px;
  background-color: greenyellow;
  margin-left:50px;
}
.fi{
  
  background-color: greenyellow;

}
 .txt{
  text-align: center;
  margin-top: 15%;
  font-weight: bold;
  
  
}
 .txt1{
  text-align: center;
  font-weight: bolder;
  font-size: x-large;

}
.txt2{
  text-align: center;
  font-weight: lighter;
  color:pink
  
}
 .txt3{
  text-align: center;
  font-weight: bolder;
  
  font-size: x-large;
  color:pink;

}

.container1{
  display:flex;
  flex-direction: column;
  margin:auto;
  margin-top:35px;
  background-color: black;
  padding-bottom:30px;
  margin-bottom:70px ;

}
.header{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:9px;
  width:100%;
  margin-top:10px;
}
.text{
  color:pink;
  font-size:48px;
  font-weight:700;
}
.underline{
  width:61px;
  height:6px;
  background:pink;
  border-radius:9px;
}
.inputs{
  margin-top:15px;
  display:flex;
  flex-direction:column;
  gap:25px;
}
.input{
  display:flex;
  align-items:center;
  margin:auto;
  width:280px;
  height:40px;
  background: pink;
  border-radius:20px;

}
.input input{
  height:40px;
  width:400px;
  background: transparent;
  border:none;
  outline:none;
  color:#fff;
  font-size:19px;
}
.forgot-password{
  padding-left:22px;
  margin-top:7px;
  color:#fff;
  font-size:18px;
}
.forgot-password span{
  color:pink;
  cursor:pointer;
}
.submit-container{
  display:flex;
  gap:30px;
  margin:30px auto;

}
.submit{
  display:flex;
  justify-content: center;
  align-items: center;
  width:120px;
  height:59px;
  color:black;
  background: pink;
  border-radius: 30px;
  font-size: 19px;
  font-weight: 700;
  cursor:pointer;
}
.gray{
  background:black;
  color: #fff;
}
.heading{
  color:#fff;
  margin:auto;
}
.f1{
  color:pink;
}
.me{
  color:white;
  font-size: medium;
  border-bottom: 2px solid white;
}
.title{
  color:pink;
  font-weight: bolder;
  font-size:x-large;
  text-align: center;
}
.me1{
  margin-left:65% ;
}
.table wrapper{
  width:100%;
}
.table{
  display:block;
  overflow:hidden;
  table-layout:auto;
  border-collapse: collapse;
  
  border-radius:10px;
  white-space:nowrap;
  width:100em;
  max-width:100%;
  margin-top:5px;
  
}
.table thead{
  background-color: #ccc;
  color:#ccc;
  color:#222;
}
.table td,.table th{
  padding: 0.45rem;
  
}


.table td{
  border-top:0.5px solid #ddd;
  overflow:hidden;
  text-overflow:ellipsis;
}
.table tbody tr:hover{
  background-color:#eee;
}
.expand{
  width:100%;
}
.label{
  border-radius:3px;
  padding:0.3rem;
  color:white;
}
.label-draft{
  color:black;
}
.label-live{
  color: black;
}
.label-error{
  color: black;
}
.actions{
  display:flex;
  margin-left:50%;
  justify-content:space-around;
}
.actions svg{
  cursor:pointer;
}
.delete-btn{
  color:#e10d05;

}
.bt{
  margin-top:2rem;
  border:none;
  color: black;
  margin-left:25%;

  padding:0.5rem 1rem;
  border-radius:10px;
  cursor:pointer;
  box-shadow: 0px 5px 5px #ccc;
}
.form-group{
  display:flex;
  flex-direction:column;
  margin-bottom:1rem;
}
.form-group input,
.foorm-group textarea,
.form-group select{
  border: 1px solid black;
  border-radius:0.3rem;
  padding:0.3rem;
  font-size:1rem;
}
.form group label{
  margin-bottom:0.2rem;
}
.ma{
  margin-left: 60%;
}
.bt1{
  background-color: black;
  border-style: none;
}
.bt3{
  margin-top: 25px;
  margin-left: 30%;
  margin-bottom: 15%;
  border-radius: 20px;
  height: 50px;
  width: 100px;
}
.im2{
  width:35px;
  height: 35px; 
}
ul {
    list-style-type: none;
    margin-top: 25px;
    margin-bottom: 25px;
    
}
.content li{
  text-align: center;
  margin-right: 25px;
  
}
.card{
  background-color: #fff;
  margin-left:10%;
  margin-right: 10%;
  border-radius: 20px;
  margin-bottom: 10px;
  
  border-color: black;

}
.content1 li{
  font-weight: bolder;
  margin-left:4%;
  list-style-type:none ;
  
}
.content1{
  margin-top: 25px;
  margin-bottom: 25px;
}
.heading1{
  color:#fff;
  margin-left: 10%;
}
.txt5{
  margin-left: 15%;
  
}
.ft{
  font-size: large;
  
  border-radius: 20px;
  margin-left: 7%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.acordhead {
  box-shadow: 0px 9px 29px #00000061;
  border: 1px solid #707070;
  margin-top: 5px;
}

.acordhead .accordion-button {
  box-shadow: -1px 4px 16px 0 #d4d4d4;
}
.accordion {
  --bs-accordion-btn-bg: black;
  --bs-accordion-active-bg: black;
  --bs-accordion-active-color: white;
  --bs-accordion-btn-color: white;
  --bs-accordion-color: #000000;
  --bs-accordion-active-border: 1px solid #707070;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-btn-box-shadow: 0px 9px 29px #00000061;
}

.accordian-body {
  text-align: left;
  font: normal normal normal 25px/41px Josefin Sans;
  letter-spacing: 0px;
  opacity: 1;
}

.accordion-button {
  background: var(--unnamed-color-452b01) 0% 0% no-repeat padding-box;
color:black;
  background: #fff;
  box-shadow: 0px 9px 29px ;
  border: 1px solid black;
  opacity: 1;
}
